html {
	background-color: black;
	font-family: sans-serif;
	/*overflow: hidden;*/
	scrollbar-color: grey black;
}
body {
	/*overflow: auto;*/
	position: relative;
}

#main{
	position: relative;
	width: 100%;
}

#panel1{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 100%;
	z-index: 10000000;
	background-color: grey;
}

#stdOutput{
	overflow-x: scroll;
	background-color: white;
}

#stdOutput time{
	color: grey;
	font-size: 80%;
}

#stdInput{
	position: absolute;
	bottom: 1rem;
	width: 100%-2rem;
	margin: 1rem;
}

#canvas {
	margin: 0 0 0 300px;
	width: 100%;
	height: 100%;
	background-color: black;
	position: relative;
}
