html {
	background-color: black;
	font-family: sans-serif;
	/*overflow: hidden;*/
	scrollbar-color: grey black;
}
body {
	/*overflow: auto;*/
	position: relative;
}

#main{
	position: relative;
	width: 100%;
}

#panel1{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 100%;
	z-index: 10000000;
	background-color: grey;
	display: none;
}

#btnShowInput{

}

/*********************** Mobile ***********************************************/
#stdOutput{
	overflow-x: scroll;
	background-color: white;
}

#stdOutput time{
	color: grey;
	font-size: 80%;
}

#stdInput{	/* M */
	position: fixed;
	left: 6rem;
	top: 0;
	font-size: 3rem;
	width: 25%;
	z-index: 101;
	display: none;
}

#canvas {
	margin: 6rem;
	width: 100%;
	height: 100%;
	background-color: black;
	position: relative;
}
/************************ Desktop *****************************************/
@media only screen and (min-width: 1000px) {

#stdInput{
	position: fixed;
	top: unset;
	bottom: 1rem;
	margin-left: 25%;
	font-size: 100%;
	width: 50%;
	z-index: 101;
	display: none;
}

#canvas{
	margin: 0;
}

}
