html {
	background-color: black;
	font-family: sans-serif;
	/*overflow: hidden;*/
	scrollbar-color: #111111 black;
	scroll-behavior: smooth;
	cursor: default;
	scrollbar-color: dark;
}
html::-webkit-scrollbar{display: none;}
html::-moz-scrollbar{display: none;}

body {
	/*overflow: auto;*/
	position: relative;
}

#main{
	position: relative;
	width: 100%;
}

svg{
	opacity: 1;
}

#panelI{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	height: 100%;
	z-index: 1000;
	background-color: grey;
	display: none;
	opacity: 0.8;
}

#panelD{
	background-color: black;
	width: 130px;
	height: 100%;
	z-index: 101;
	position: fixed;
	right: 0;
	top: 0;
	text-align: right;
}

#panelD .portrait{
	width: 100px;
	cursor: pointer;
}

#btnShowInput{

}

/*********************** Mobile ***********************************************/
#stdOutput{
	overflow-x: scroll;
	background-color: white;
}

#stdOutput time{
	color: grey;
	font-size: 80%;
}


#stdInput{
	position: fixed;
	top: unset;
	bottom: 1rem;
	margin-left: 25%;
	font-size: 300%;
	width: 50%;
	z-index: 101;
	display: none;
}

#canvas {
	width: 100%;
	height: 100%;
	background-color: black;
	position: relative;
}

#canvas_dados{
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	z-index: 102;
}

#info_character{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 104;
	background-color: rgba(255,255,255,0.7);
	width: 600px;
	height: 100%;
	display: none;
}

#input_hidden{
	display: block;
}

.token{
	touch-action: none;
}

.red{
	color: red;
}

@keyframes disappear{
	from{opacity:1;}
	to{opacity:0}
}


/************************ Desktop *****************************************/
@media only screen and (min-width: 800px) {


#canvas{
	margin: 0;
}

#stdInput{
	font-size: 100%;
}

#input_hidden{
	display: none;
}

}
