.sheet{
	padding: 1rem;
}

.sheet h1{
	font-weight: bold;
	font-size: 2rem;
	padding: 0 0 0rem 0;
}

.sheet h2{
	margin: 1rem 0 0 0;
	font-weight: bold;
	font-size: 1.2rem;
	border-bottom: 1px solid black;
}

.sheet strong{
	font-weight: bold;
}

.sheet p{
	padding: 0rem 0;
}

.sheet table{
	padding: 0rem 0;
}
