#info_character{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom:0;
	z-index: 20;
	background-color: rgba(255,255,255,0.8);
	display: none;
	padding: 2rem;
}

#info_character .close{
	cursor: pointer;
	margin: 1rem;
	float: right;
	color: blue;
	font-size: 1.5rem;
}

#info_character p{
	margin: 1rem 0;
}

.sheet_left{
	grid-column: 1;
}

.sheet_right{
	grid-column: 2;
	padding: 1rem;
	margin-right: 128px;
}

#info_character h1{
	font-weight: bold;
	font-size: 2rem;
	padding: 0 0 0rem 0;
}

#info_character h2{
	font-weight: bold;
	font-size: 1.2rem;
	border-bottom: 1px solid black;
}

#info_character strong{
	font-weight: bold;
}

#info_character p{
	padding: 0rem 0;
}

#info_character table{
	padding: 0rem 0;
}

#info_character table td{
	padding: 0.25rem 0.25rem;
}

#info_character .car1{

}
#info_character .car2{
}

#info_character .section{
	width: 100%;
	display: block;
	clear: both;
	margin: 1.5rem 0;
}

#info_character .half{
	display: inline-block;
	width: 49%;
}

#info_character .select_box{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
